body {
  width: 25em;
  padding: 1.5em 2em;
  color: #222;
  font-family: 'Lucida Grande', sans-serif;
  font-size: 75%;
  line-height: 1.5;
  -webkit-user-select: none;
  cursor: default;
}

a {
  color: #15C;
  margin-right: 1em;
}

p:last-child {
  margin-top: 2em;
}

/* The code below was adapted from Chrome's widgets.css. */

button {
  background-image: linear-gradient(#ededed, #ededed 38%, #dedede);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08),
      inset 0 1px 2px rgba(255, 255, 255, 0.75);
  color: #444;
  font: inherit;
  margin: 0 1px 0 0;
  outline: none;
  text-shadow: 0 1px 0 rgb(240, 240, 240);
  min-height: 2em;
  min-width: 4em;
  padding-left: 10px;
  padding-right: 10px;
}

button:hover {
  background-image: linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12),
      inset 0 1px 2px rgba(255, 255, 255, 0.95);
  color: black;
}

button:active {
  background-image: linear-gradient(#e7e7e7, #e7e7e7 38%, #d7d7d7);
  box-shadow: none;
  text-shadow: none;
}

button:focus {
  transition: border-color 200ms;
  border-color: rgb(77, 144, 254);
  outline: none;
}
