* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 20rem;
  overflow: auto;
  margin: 2rem;
  line-height: 1.5;
  color: #444;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  cursor: default;
  -webkit-user-select: none;
}

a {
  color: #4285f4;

  &:hover, &:focus {
    outline: 0;
    color: #0044b6;
  }
}

.button {
  display: inline-block;
  padding: .5rem 1rem;
  border-radius: .15rem;
  background: #4285f4;
  color: white;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0 0 3px transparent;

  &:hover, &:focus {
    color: white;
    box-shadow: 0 0 0 3px #c7dcff;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
  color: #4285f4;
}

p {
  margin: 1rem 0;
}

hr {
  margin: 2rem -2rem;
  border: 0;
  border-bottom: 1px solid #ddd;
}

iframe {
  border: 0;
}

small {
  font-size: 85.7%;
}

label {
  display: flex;
  padding-top: .25em;

  button, input {
    flex-shrink: 0;
    margin-top: -.25em;
    margin-right: 1em;
  }
}

button,
input[type='button'],
input[type='checkbox'],
input[type='radio'] {
  &:enabled {
    cursor: pointer;
  }
}

input[type='checkbox'],
input[type='radio'] {
  position: relative;
  vertical-align: bottom;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid #ddd;
  background: white;
  box-shadow: 0 0 0 2px transparent;
  -webkit-appearance: none;
  -webkit-transition: border .2s ease, background .2s ease, box-shadow .2s ease;

  &:hover, &:focus {
    outline: 0;
    border-color: #c4c4c4;
  }

  &:after {
    position: absolute;
    display: block;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transition: border .1s ease-in 0, background .1s ease-in 0, transform .1s ease-in 0;
  }

  &:checked {
    border-color: transparent;
    background: #4285f4;

    &:hover, &:focus {
      background: #5294ff;
      box-shadow: 0 0 0 2px #c7dcff;
    }

    &:after {
      -webkit-transition-delay: .1s;
    }
  }

  &:disabled {
    border-color: transparent;
    background: #c4c4c4;
    box-shadow: 0 0 0 2px transparent;

    &:hover {
      border-color: transparent;
      background: #c4c4c4;
      box-shadow: 0 0 0 2px transparent;
    }
  }
}

input[type='radio'] {
  border-radius: 100%;

  &:after {
    width: .375rem;
    height: .375rem;
    margin-top: -.1875rem;
    margin-left: -.1875rem;
    border-radius: 100%;
    -webkit-transform: scale(0.5);
  }

  &:checked {
    &:hover, &:focus {
      background: #5294ff;
      box-shadow: 0 0 0 2px #c7dcff;
    }

    &:after {
      background: white;
      -webkit-transform: none;
    }
  }
}

input[type='checkbox'] {
  border-radius: .2em;

  &:after {
    width: .35rem;
    height: .75rem;
    margin-top: -.55rem;
    margin-left: -.225rem;
    border: .15rem solid transparent;
    border-left: 0;
    border-top: 0;
    -webkit-transform: rotate(45deg) scale(0.5);
  }

  &:checked:after {
    border-color: white;
    -webkit-transform: rotate(45deg);
  }
}
