$tab-height: 3.5rem;

body {
  width: 20rem;
  padding-bottom: $tab-height;
}

.notification {
  margin: -2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 85.7%;
  background: #ffecb3;
  border-bottom: 1px solid darken(#ffecb3, 15%);
}

.button {
  display: block;
  padding: 1rem;
}

.placeholder {
  text-align: center;

  a {
    // Break the line before the link if the line is too long.
    display: inline-block;
  }
}

.open-panels {
  font-size: 85.7%;

  li {
    display: flex;
    margin: .5rem 0;

    span {
      flex-grow: 1;
      overflow: hidden;
      white-space: nowrap;
      -webkit-mask-image: linear-gradient(to right, white 50%, transparent 90%);
    }

    a {
      flex-shrink: 0;
    }
  }

  img {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-right: .5rem;
  }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.tabs {
  display: flex;
  align-items: center;
  overflow: hidden;
  background: white;
}

.tabs__tab {
  flex-grow: 1;
  height: $tab-height;
  line-height: $tab-height;
  text-align: center;
  background: #f4f4f4;
  box-shadow: inset 1px 1px 0 #ddd, inset 0 1rem 1rem -1rem #ddd;
  text-decoration: none;
  color: #aaa !important;
}

.tabs__tab--active {
  background: transparent;
  box-shadow: inset 0 1px 0 #f4f4f4, inset 1px 0 0 #ddd, 0 0 1rem #ddd;
  z-index: 1;
}

.tabs__tab:first-child {
  box-shadow: inset 0 1px 0 #ddd, inset 0 1rem 1rem -1rem #ddd;
}

.tabs__tab--active:first-child {
  box-shadow: inset 0 1px 0 #f4f4f4, 0 0 1rem #ddd;
}
