body {
  counter-reset: step;
}

.steps section {
  position: relative;
  margin: 2rem 0;
  padding-left: 2.7rem;

  h4 {
    line-height: 1.5rem;
    color: #AAA;

    &:before {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: -2.4rem;
      box-shadow: 0 0 0 2px;
      border-radius: 100%;
      text-align: center;
      content: counter(step);
      counter-increment: step;
    }
  }

  p {
    display: none;
  }

  &.active {
    h4, h4:before {
      color: #4285F4;
    }

    p {
      display: block;
    }
  }
}

.quiet {
  color: #AAA;

  a {
    color: inherit;
  }
}
